/* HEADER */
header nav {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--blackMenuList);
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header nav li {
  list-style-type: none;
  display: inline-block;
  margin: 0 1rem 0 1rem;
}

header nav li a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

header nav li a:visited {
  color: white;
}

header nav li a:hover {
  color: var(--yellow);
}

header nav li a.selected {
  color: var(--yellow);
}
/* MAIN */

main {
  margin-top: 3rem;
}

/* FOOTER */

footer {
  font-family: "Inter", sans-serif;
}

footer {
  position: -webkit-sticky;
  position: sticky;
  top: auto;
  bottom: 0;
  width: 100vw;
  height: 35vh;
  z-index: 1;
  background-color: var(--footer);
}

#skyline {
  position: absolute;
  bottom: 4.5rem;
  width: 100vw;
  text-align: center;
  z-index: 1;
  transform: scale(1.4);
}

footer span {
  font-size: 2rem;
  font-weight: bold;
  color: var(--white);
  letter-spacing: 0.3rem;
  display: block;
  text-align: center;
  padding: 3rem;
}

#propos {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 3.5%;
  margin-left: 3%;
}

#link {
  position: absolute;
  right: 6%;
  margin-top: 2.5%;
}

footer article {
  position: relative;
}

footer h5 {
  color: red;
  font-size: 2rem;
}

footer h5::selection {
  background-color: var(--yellow);
}

footer li {
  list-style-type: none;
  cursor: url("../images/Belgium_Flag_Pointer.png"), pointer;
}

footer li:hover a {
  color: var(--yellow);
}

footer li a {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--white);
}

footer p {
  color: var(--white);
  font-size: 1.2rem;
}

#copyright {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: var(--blackMenuList);
}

#logo {
  width: 15%;
  position: absolute;
  left: 3%;
  margin-top: 2.5%;
}

#logoImage {
  width: 250px;
  filter: brightness(0) invert(1);
}
