@import url("https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700&display=swap");

header {
  position: relative;
  z-index: 2;
  height: 100vh;
  overflow: hidden;
}

#mainTitle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

#mainTitle > h1 {
  text-shadow: 3px 2px black;
  text-transform: uppercase;
  background-color: transparent;
  text-align: center;
  color: white;
  font-size: 4.5rem;
}

#menu {
  position: relative;
  display: inline-block;
  width: 2.8rem;
  height: 2.5rem;
  margin: 1rem;
  border-radius: 10px;
  background-color: var(--black);
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 2;
  transition: all 0.3s linear;
}

#menu:hover {
  background-color: var(--blackHover);
  border: 1px solid var(--red);
  border-radius: 12px;
}

#menu > span {
  display: block;
  height: 2px;
  background-color: var(--white);
  margin: 8px 0 8px 0;
  border-radius: 5px;
}

#menuList {
  display: none;
  border-right: 1px solid var(--red);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: var(--blackMenuList);
  z-index: 2;
  width: 20vw;
  animation: menuList 0.6s linear;
  transition: all 0.6s linear;
}

@keyframes menuList {
  0% {
    width: 1vw;
  }

  100% {
    width: 20vw;
  }
}

#menuList nav {
  display: none;
  padding-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  animation: menuListNav 0.5s linear;
}

@keyframes menuListNav {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#menuList li {
  list-style-type: none;
  margin: 2rem 0 2rem 0;
  padding: 1rem;
  cursor: url("../images/cursors/Belgium_Flag_Pointer.png"), pointer;
}

#menuList li:hover {
  background-color: var(--yellow);
  border-radius: 1rem;
}

#menuList li:active {
  background-color: var(--yellowHover);
  border-radius: 1rem;
}

#menuList li:hover {
  color: var(--black);
}

#menuList li {
  font-size: 1.6rem;
  color: var(--white);
}

#menuList a {
  text-decoration: none;
}

#flag {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

/*----------MAIN INDEX----------*/

#atonium {
  position: absolute;
  left: -250px;
  bottom: -250px;
  z-index: -2;
}

#atonium img {
  transform: rotate(25deg);
}

#beer {
  position: absolute;
  right: -100px;
  bottom: 0;
  z-index: -2;
}

#cloud img {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: -110vw;
  animation: cloud 22s linear infinite;
}

@keyframes cloud {
  0% {
    left: -110vw;
  }

  100% {
    left: 150vw;
  }
}

/* FOOTER */

footer {
  font-family: "Inter", sans-serif;
}

footer {
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40vh;
  background-color: var(--footer);
}

#skyline {
  position: absolute;
  bottom: 2.5rem;
  width: 100vw;
  text-align: center;
  z-index: -1;
  transform: scale(1.25);
}

footer span {
  font-size: 2rem;
  font-weight: bold;
  color: var(--white);
  letter-spacing: 0.3rem;
  display: block;
  text-align: center;
  padding: 3rem;
}

footer article {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer article section {
  margin: 0rem 3rem 0 3rem;
}

footer h5 {
  color: red;
  font-size: 1.6rem;
}

footer h5::selection {
  background-color: var(--yellow);
}

footer li {
  list-style-type: none;
  cursor: url("../images/cursors/Belgium_Flag_Pointer.png"), pointer;
}

footer li:hover a {
  color: var(--yellow);
}

footer li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--white);
}

footer p {
  color: var(--white);
  font-size: 1.2rem;
}

#copyright {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: var(--blackMenuList);
}

#logo {
  width: 15%;
}

#logoImage {
  filter: brightness(0) invert(1);
}
