*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url("../images/Belgium_Flag_Cursor.png"), auto;
}

:root {
    --yellow: rgb(240, 219, 24);
    --yellowHover: rgb(197, 179, 19);
    --black: rgb(44, 43, 43);
    --blackHover: rgb(66, 66, 66);
    --blackMenuList: rgb(14, 18, 26);
    --red: rgb(255, 64, 41);
    --white: #ffffff;
}

a,button,#menu, #menu > span{
    cursor: url("../images/Belgium_Flag_Pointer.png"), pointer;
}
/*----------HEADER----------*/
header{
    height: 100vh;
    overflow: hidden;
}

#mainTitle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

#mainTitle > h1{
    text-shadow: 3px 2px black;
    text-transform: uppercase;
    background-color: transparent;
    text-align: center;
    color: white;
    font-size: 4rem;
}

#mainTitle > h1::selection{
    background-color: var(--red);
}

#menu{
    position: relative;
    display: inline-block;
    width: 2.8rem;
    height: 2.5rem;
    margin: 1rem;
    border-radius: 10px;
    background-color: var(--black);
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 2;
    transition: all 0.3s linear;
}

#menu:hover{
    background-color: var(--blackHover);
    border: 1px solid var(--red);
    border-radius: 12px;
}

#menu > span{
    display: block;
    height: 2px;
    background-color: var(--white);
    margin: 8px 0 8px 0;
    border-radius: 5px;
}

#menuList{
    display: none;
    border-right: 1px solid var(--red);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--blackMenuList);
    z-index: 2;
    width: 20vw;
    animation: menuList 0.6s linear;
    transition: all 0.6s linear;
}

@keyframes menuList {
    0%{
        width: 1vw;
    }

    100%{
        width: 20vw;
    }
}

#menuList nav{
    display: none;
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    animation: menuListNav 0.5s linear;
}

@keyframes menuListNav {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

#menuList li{
    list-style-type: none;
    margin: 2rem 0 2rem 0;
    padding: 1rem;
    cursor: url("../images/Belgium_Flag_Pointer.png"), pointer;
}

#menuList li:hover{
    background-color: var(--yellow);
    border-radius: 1rem;
}

#menuList li:active{
    background-color: var(--yellowHover);
    border-radius: 1rem;
}

#menuList li:hover a{
    color: var(--black);
}


#menuList a::selection{
    background-color: var(--red);
}

#menuList a{
    font-size: 2rem;
    text-decoration: none;
    color: var(--white);
}


#flag{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

/*---------- ? ----------*/